/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.UrbandPlayer{
    height: 90px;
    margin-top: -1px;
    vg-controls{
        align-items: center;
        justify-content: center;
        bottom: 16px;
    }
    vg-mute{
        position: absolute;
    left: 0;
    }
    .vg-icon-play_arrow:before {
        content: "1" !important;
        background: url('assets/icon/urbandPlay.png');
        background-repeat:no-repeat;
        background-size:contain;
        width: 55px;
        height: 55px;
        font-size: 0;
    }
    .vg-icon-pause:before {
        content: "1" !important;
        background: url('assets/icon/urbandPause.png');
        background-repeat:no-repeat;
        background-size:contain;
        width: 55px;
        height: 55px;
        font-size: 0;
    }
}

.WifiIcn{
    position: absolute;
    right: 10px;
    img{
        width: 35px;
    }
}