<ion-header no-border color="dark" class="MainHdrTp1">
  <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <img src="../../assets/icon/urbandLogo.png" alt="" class="MainLogo">
      </ion-buttons>
      <ion-buttons slot="end">
        <img src="../../assets/icon/menuIcon.png" alt="">
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="playerMainWrp">
    <div class="playerMainBox">
            <img src="../../assets/icon/musicplaying.gif" class="PlayingAnimation">
            <div class="ArtistFrameBoxTxt1">Mariey Carey</div>
            <div class="ArtistFrameBoxTxt2">Golden Edition</div>
            <vg-player>
                <video #myMedia
                       [vgDash]="stream.source"
                       [vgDRMLicenseServer]="stream.licenseServers"
                       [vgDRMToken]="stream.token"
                       (onGetBitrates)="dashBitrates = $event"
                       id="my-video"
                       type="video/mp4"
                       controls>
                </video>
            </vg-player>
            <ion-progress-bar type="indeterminate" class="ProgressBar" color="primary"></ion-progress-bar>
            <div class="LiveTxt1"><div class="DotBox"></div>Live</div>
            <div class="AdBlock"><img src="../../assets/icon/adb.png"/></div>
            
    </div>
    
  </div>

</ion-content>
<div class="UrbandPlayer">
    <vg-player>
        <!-- <vg-buffering></vg-buffering>

        <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar> -->
        <vg-controls>
            <vg-play-pause></vg-play-pause>
    
            <!-- <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display> -->
    
            <!-- <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
    
            <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
            <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display> -->
    
            
            <vg-mute></vg-mute>
            <div class="WifiIcn"><img src="../../assets/icon/antena.png"/></div>

    
            <!-- <vg-fullscreen></vg-fullscreen> -->
        </vg-controls>
    
        <!-- <audio #media [vgMedia]="media" id="myAudio" preload="auto">
            <source *ngFor="let audio of sources" [src]="audio.src" [type]="audio.type">
        </audio> -->

        <video [vgMedia]="media" #media id="singleVideo" preload="auto" crossorigin>
            <source *ngFor="let audio of sources" [src]="audio.src" [type]="audio.type">
        </video>
    </vg-player>
</div>
<!-- <ion-footer color="dark" class="ion-no-margin ion-no-border">
  <ion-toolbar no-border color="dark"  class="ion-no-margin ion-no-border ion-padding">
      <div style="height: 50px;">
          <vg-player>
              <vg-buffering></vg-buffering>

              <vg-scrub-bar>
                  <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                  <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
              </vg-scrub-bar>
              <vg-controls>
                  <vg-play-pause></vg-play-pause>
                  <vg-playback-button></vg-playback-button>
          
                  <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
          
                  <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
          
                  <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
                  <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
          
                  <vg-track-selector></vg-track-selector>
                  <vg-mute></vg-mute>
                  <vg-volume></vg-volume>
          
                  <vg-fullscreen></vg-fullscreen>
              </vg-controls>
          
              <audio #media [vgMedia]="media" id="myAudio" preload="auto">
                  <source *ngFor="let audio of sources" [src]="audio.src" [type]="audio.type">
              </audio>
          </vg-player>
      </div>
        <ion-buttons slot="start">
          <img src="../../assets/icon/soundUp.png" alt="" class="FooterIconTp1">
        </ion-buttons>
        <ion-buttons>
          <img src="../../assets/icon/backwardButton.png" alt="" class="FooterIconTp1">
        </ion-buttons>
        <ion-buttons>
          <img src="../../assets/icon/playButton.png" alt="" class="FooterIconTp1">
        </ion-buttons>
        <ion-buttons>
          <img src="../../assets/icon/forwardButton.png" alt="" class="FooterIconTp1">
        </ion-buttons>
        <ion-buttons slot="end">
            <img src="../../assets/icon/antena.png" alt="" class="FooterIconTp1">
          </ion-buttons>
  </ion-toolbar>
</ion-footer> -->

