ion-content {
  --overflow: hidden;
}
.scroll-content {
  margin-bottom: 0 !important;
}
.MainHdrTp1 {
  ion-toolbar {
    height: 100px;
    display: flex;
  }
  .MainLogo {
    width: 100px;
    margin-left: 10px;
  }
}
.playerMainWrp {
  display: flex;
  height: 100%;
  width: 100%;
  background: #000;
  .playerMainBox {
    background: #fff;
    width: 100%;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }
  .LiveTxt1{
    color: #e01e36;
    padding-left: 17px;
    position: relative;
    text-align: left;
    align-self: flex-start;
    font-weight: 500;
    font-size: 19px;
    line-height: 2;
      &:after{
          content: "";
          width: 10px;
          height: 10px;
          border-radius: 50%;
          position: absolute;
          background: #e01e36;
          top: 13px;
          left: 0px;
      }
  }
  .ProgressBar {
    // background: #e01e36;
   margin-top: 20px;
  }
}
ion-footer {
  &.footer-md::before {
    background-image: none;
  }
  ion-toolbar {
    padding: 0px;
    text-align: center;
    margin-top: -1px;
    ion-buttons {
      &:nth-child(3) {
        margin-left: 20px;
        margin-right: 20px;
        img {
        }
      }
      display: inline-block;
    }
  }
  .FooterIconTp1 {
    width: 30px;
    height: 30px;
    position: relative;
  }
}

.PlayingAnimation {
  width: 250px;
  margin: 0 auto;
  display: block;
}
.ArtistFrameBoxTxt1 {
  font-size: 23px;
  text-align: center;
  line-height: 1.7;
  color: #424242;
  font-weight: 500;
}
.ArtistFrameBoxTxt2 {
  font-size: 13px;
  text-align: center;
  line-height: 1;
  color: #424242;
  font-weight: 500;
  margin-bottom: 25px;
}
